table{
	align: center;
	border: solid 2px #000000;
	border-radius:5px;
	background-color:#f5f5f5;
	border-collapse: separate;
	overflow: hidden;
}
th {
	border: solid 1px #000000;
	font-size:18px;
	text-align:center;
	color:#44c0fe;
	text-shadow:0 -1px 0 rgba(255,255,255,0.6),0 1px 1px rgba(0,0,0,0.5);
}
td {
	border: solid 1px #000000;
	padding:2px;
}
.tdlink {
	cursor: pointer;
	// display: block;
}
.tdlink:hover {
  background-color: #ff8000;
}

button.btn_day{
	width:65px;
	font-size:2.4em;
	background-color:#d0ffd0;
	border-radius:5px;
	padding:2px;
}
button.btn_day:hover{
	background-color:#51ff51;
}
button.btn_sunday{
	width:65px;
	font-size:2.4em;
	background-color:#ffd7ff;
	border-radius:5px;
	padding:2px;
}
button.btn_sunday:hover{
	background-color:#ffaaff;
}
button.btn_tosunday{
	width:65px;
	font-size:2.4em;
	background-color:#fdcad1;
	border-radius:5px;
	padding:2px;
}
button.btn_tosunday:hover{
	background-color:#fcb4bd;
}
button.btn_saturday{
	width:65px;
	font-size:2.4em;
	background-color:#baccfa;
	border-radius:5px;
	padding:2px;
}
button.btn_saturday:hover{
	background-color:#86a5f7;
}
button.btn_tosaturday{
	width:65px;
	font-size:2.4em;
	background-color:#bda4f9;
	border-radius:5px;
	padding:2px;
}
button.btn_tosaturday:hover{
	background-color:#a480f7;
}
button.btn_today{
	width:65px;
	border-style: double;
	font-size:2.4em;
	background-color:#acec66;
	border-radius:5px;
	padding:2px;
}
button.btn_today:hover{
	background-color:#8fe631;
}